/* universal styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: black;
    text-decoration: none;
     
  }
/* header styles start here */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.header h1 {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    color: black;
}
.header nav {
    margin: 7px 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
       
}

.header nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
   
}


/* end of header styles */

/* sec about me styles*/

.sec1{
   
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    margin-left: 200px;
    align-items: flex-start;
}

.sec1 img {
   border-radius: 20%;
   border-style: solid;
   border-color: #9f7928 ;
   width: 150px;
}
.about-me-p{

   margin-left: 100px;
   margin-right: 5px;
   width: 50%;
   font-weight:lighter;
   font-size: 20px;
   
    
   
}

/* end of sec about me styles */

/* section my work styles starts here*/

.mywork {
   display: flex;
   flex-wrap: wrap;
   margin-top: 100px;
   margin-bottom: 100px;
   text-align: -webkit-center;
   margin-left: 200px;
}

.mywork h2{
    
    margin-right: 200px;
}


.projects-container {
    display: flex;
    width: 600px;
    text-align: center;
    flex-wrap: wrap;
}

.project p{
    width: 100px;
    border-style: solid;
    border-color: #9f7928;
    background-color: #9f7928;
    text-align: center;
    margin: -5px;
    
  
   
}

.project img{
   width: 200px;
   height: 100px;
   border-style: solid;
    border-color: #9f7928;
}

.project{
    margin:5px;
    transition: transform .2s;
    
        
}

.project:hover {
    transform: scale(1.5);
   
 
}
/*end of my work section/

/* footer styles start here*/
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 200px;
    
}
.contact-info ul {
    
    list-style-type: none;
    padding-top: 15px;
    margin: 0 380px 30px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
   
}
.contact-info ul li {
    display:inline-flex;
    margin-left: 50px; 
}

/* end of footer styles*/

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    .header nav{
        margin-left: 300px;
    }
      
      header nav ul {
        
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        
      }
    
      header nav ul li a {
        font-size: 20px;
        
      }
    
    .sec1{
        margin-left: 100px;
    }
    .mywork{
        margin-left: 0px;
        justify-content:end;
    }
    
   .contact-info ul{
       flex: 1;
       padding-top: 0px;
       margin: 0px;;
   }
   .contact-info h2{
       margin-left: 90px;
   }
   .contact-info{
       margin:0px
       
   }
}

@media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
    .header nav{
        margin: 10px;
    }
    .sec1{
        margin-left: 0.5px;
    }
    .about-me-p{
        margin-left: 50px;
    }
    .mywork h2{
        margin-right: 0px;
    }
    .contact-info ul{
        flex: 1;
        margin: 0px;
  }
  .contact-info ul li {
      padding-top: 20px;
       margin: 5px;
  }
}
