/* universal styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}
h2{
    display: inline-block;
    font-size: 30px;
    margin-left: 200px;
    margin-right: 100px;

   
}
a {
    color: black;
    text-decoration: none;
     
  }
/* header styles start here */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.header h1 {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    color: black;
}

/*nav{
    display: flex;
     
}
*/
.header nav {
    margin: 7px 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
    
}

.header nav ul li {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
   
}


/* end of header styles */

/* sec about me styles*/
.sec1 {
    padding: 20px;
    margin-top: 200px;
}
/*hr{
    margin-top: -13px;
    width: 700px;
    color:#9f7928 ;
}*/
.me{
    overflow: auto;
}

.me {
    display: inline-flex;
    width: 700px;
    margin: 0 300px 30px auto;
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
    
}
.me img {
    width: 20%;
    
    float: left;
  
}
.about-me-p{
    padding: 10px;
   width: 80%;
   float: right;
}
/*.sec1 h2{
    display: inline-block;
    font-size: 30px;
    margin-left: 200px;

    
}*/

/* end of sec about me styles */

/* section my work styles starts here*/

.mywork {
   
   flex-wrap: wrap;
 
   
}



.main-project {
    width: 40%;
    flex: 1 0 0;
    
    border-style: solid;
    border-color: #9f7928;
    
    background-color: #9f7928;
    margin: 5px;
    float: right;


}
.main-project img{
    width: 100%;
    min-width: 50px;

   
    
}
.project {
    display: flex;
    flex-direction: row;
    width: 20%;
   
    border-style: solid;
    border-color: #9f7928;
    background-color: #9f7928;
    margin: 5px;
   
}
.project img{
    width: 100%;
    min-width: 50px
}

.mywork .project a{
    width: 40%;
}

/*end of my work section/

/* footer styles start here*/
footer{
    padding: 20px;
}
.contact-info ul {
    
    list-style-type: none;
    padding-top: 15px;
    margin: 0 380px 30px auto;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
   
}
.contact-info ul li {
    display:inline-flex;
    margin-left: 50px; 
}
/*.contact-info h2 {
    
    display: inline-block;
    font-size: 30px;
    margin-left: 200px;
}*/

/* end of footer styles*/
@media screen and (max-width: 768px) {
    body,
    nav {
      flex-direction: column;
    }
}